@media(max-width:485px){
    .cabecalho{
        padding: 15%;
    }
    .cabecalho_link{
        gap: 5%;
        justify-content: center;
    }
    .cabecalho_link_menu{
        font-size: 1rem;
        width: auto;
        text-align: center;
    }
    .container_imagem{
        width: auto;
    }
    .container{
        flex-direction: column-reverse;
        padding: 5%;
        margin-bottom: 10%;
    }
    .container_apresentacao{
        width: auto;
    }
    .container_titulo{
        font-size: 1.5rem;
    }
    .container_paragrafo{
        font-size: 1rem;
    }
    .container_link_subtitulo{
        font-size: 1rem;
    }
    .rodape{
        font-size: 1rem;
    }
    .curriculo_habilidades{
        font-size: 1.8rem;
        text-align: center;
    }
    #titulo_sobre_mim{
        text-align: center;
    }
    #titulo_curriculo{
        text-align: center;
    }
    .docs{
        text-decoration: none;
        color: #22D4FD;
    }
    .container_skills{
        font-size: 1.2rem;
    }
    .container_card_hard{
        width: auto;
        flex-direction: column;
        justify-content: center;
    }
    .container_card_soft{
        width: auto;
        flex-direction: column;
        justify-content: center;
    }
}

@media(max-width:800px){
    .cabecalho{
        padding: 5%;
    }
    .cabecalho_link{
        gap: 8%;
        justify-content: center;
    }
    .cabecalho_link_menu{
        font-size: 1.5rem;
    }
    .container_imagem{
        width:70%;
    }
    .container{
        flex-direction: column-reverse;
        padding: 5%
    }
    .container_apresentacao{
        width: auto;
    }
    .container_titulo{
        font-size: 2rem;
    }
    .container_paragrafo{
        font-size: 1.4rem;
    }
    .container_skills_icone{
        width: 15%;
    }
    .curriculo_habilidades{
        text-align: center;
    }
    .container_skills{
        font-size: 1.8rem;
    }
    .container_link_subtitulo{
        font-size: 1.8rem;
    }
    .container_icone_link{
        width: 50%;
    }
    .container_card_hard{
        width: auto;
        flex-direction: column;
        justify-content: center;
        margin: 0 10%;
    }
    .container_card_soft{
        width: auto;
        flex-direction: column;
        justify-content: center;
        margin: 0 10%;
    }
    .rodape{
        font-size: 1.4rem;
    }
}